import React from 'react';
import { Switch, Route } from 'react-router-dom';
import Index from './containers/Index';
import New from './containers/New';

const index = () => (
  <Switch>
    <Route path="/<%= resource_names.downcase %>/new" component={New} exact />
    <Route path="/<%= resource_names.downcase %>" component={Index} />
  </Switch>
);

export default index;
