.rw-widget-container {
  border: 1px solid rgba(0, 40, 100, .12);
  border-radius: 3px;
}

.rw-widget-input, .rw-filter-input {
  box-shadow: none;
}

.rw-placeholder {
  color: #adb5bd;
}

.rw-input, .rw-dropdown-list-autofill, .rw-filter-input {
  padding: 0
}

.pointer {
  cursor: pointer;
}

.card-delete-btn {
    right: 10px;
    bottom: 10px;
}

.w-45p {
  max-width: 45px;
}

.recommendations-h {
  height: 300px;
}